<!DOCTYPE html>
<html>
<head>
    <title>Corona</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="hero">
    <section id="banner">
        <div class="banner-text">
                
             <div class="banner-btn">
                 <a href="/guide"><span></span>GUIDE</a>
                 <a href="/info"><span></span> ABOUT US</a>

             </div>
            
        </div>
        
    </section>
    <nav>
        
    </nav>
    
    <div class="text-box">
      <h1>Helping house</h1>
      <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
        Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.
        The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
            You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.
          </p>
          <p class="imp">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
            Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.</p>
        <a href="/info"><button type="button">GET STARTED</button></a>
    </div>
    <div class="sidebar">
     <div class="icon-box">
         <div class="side-text">
          Donor Lists
         </div>
         <div class="icon">
          <a href="/list"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
         </div>
     </div>
     <div class="icon-box">
        <div class="side-text">
         Plasma Donation
        </div>
        <div class="icon">
            <a href="/contact"><i class="fa fa-heart" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="icon-box">
        <div class="side-text">
         Oxygen 
        </div>
        <div class="icon">
            <a href="/contact"><i class="fa fa-medkit" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="icon-box">
        <div class="side-text">
         Ambulance 
        </div>
        <div class="icon">
            <a href="/contact"><i class="fa fa-ambulance" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="icon-box">
        <div class="side-text">
         Donations
        </div>
        <div class="icon">
            <a href="/donate"><i class="fa fa-money" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="icon-box">
        <div class="side-text">
         Contact Us
        </div>
        <div class="icon">
          <a href="/contact"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>
        </div>
    </div>
    </div>
</div>
</body>
</html>
