<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style1.css">
        
        <title></title>
        
    </head>
    <body>
      {{>navbar}}


        <div class="container-fluid about-style mt-5" id="aboutid">
         <div class="row">
           <div class="col-md-10 col-12 mx-auto">
             <h1 class="text-center main-heading">LET'S FIGHT TOGETHER</h1>
             <p class="text-center sub-heading">Do know the basics precautions and care</p>
             <div class="row">
               <div class="col-md-6 col-12 hero-text  order-0">
                 <figure>
                 <img src="Images/offer.png" height="300px" width="500px">
                 </figure>
               </div>
               <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                 <h1 style="font-size: 3.5rem;">STAYING AT HOME EVERYDAY</h1>
                 <h1 style="font-size: 3.5rem;">KEEPS CORONA AWAY </h1>
                 <p>Jaan hai toh, jahan hai !</p>
               </div>
             </div>
           </div>
         </div>
      </div>

{{!-- SYMPTOMS OF CORONA --}}
      <div class="container-fluid about-style mt-5" id="aboutid">
         <div class="row">
           <div class="col-md-10 col-12 mx-auto">
             <h1 class="text-center main-heading">SYMPTOMS OF CORONA</h1>
             <p class="text-center sub-heading">Do know the basics precautions and care</p>
                 <div class="row symptoms">
               <div class="col-md-3 col-6 order-0">
                 <figure>
                 <img src="Images/headache.png" height="200px" width="200px">
                 <h3>Constant Headache</h3>
                 </figure>
               </div>
               <div class="col-md-3 col-6 order-0">
                 <figure>
                 <img src="Images/fever.jpg" height="200px" width="200px">
                 <h3>Serious Fever</h3>
                 </figure>
               </div>
               <div class="col-md-3 col-6 order-0">
                 <figure>
                 <img src="Images/cough.png" height="200px" width="200px">
                 <h3>Continous Coughing</h3>
                 </figure>
               </div>
               <div class="col-md-3 col-6 order-0">
                 <figure>
                 <img src="Images/breath.jpg" height="200px" width="200px">
                 <h3>Shortness of breathe</h3>
                 </figure>
               </div>
             </div>
           </div>
           </div>
           </div>

      {{!-- PRECAUTIONS OF CORONA --}}
      <div class="container-fluid about-style mt-5" id="aboutid">
         <div class="row">
           <div class="col-md-10 col-12 mx-auto">
             <h1 class="text-center main-heading">PRECAUTIONS TO BE TAKEN</h1>
             <p class="text-center sub-heading">Do know the basics precautions and care</p>
                 <div class="row symptoms">
               <div class="col-md-3 col-12 order-0">
                   <div class="box our-services">
                 <figure>
                 <img src="Images/masks.jpg" height="200px" width="200px">
                 <h3>Wear your masks</h3>
                 </figure></div>
               </div>
               <div class="col-md-3 col-12 order-0">
                   <div class="box our-services">
                 <figure>
                 <img src="Images/sanitize.jpg" height="200px" width="200px">
                 <h3>Frequently Sanitize</h3>
                 </figure></div>
               </div>
               <div class="col-md-3 col-12 order-0">
                   <div class="box our-services">
                 <figure >
                 <img src="Images/distance.png" height="200px" width="200px">
                 <h3>Maintain Distance</h3>
                 </figure></div>
               </div>
               <div class="col-md-3 col-12 order-0">
                   <div class="box our-services">
                 <figure>
                 <img src="Images/medicine.jpg" height="200px" width="200px">
                 <h3>Take prescribed medicines</h3>
                 </figure></div>
               </div>
               <div class="col-md-3 col-12 order-0">
                   <div class="box our-services">
                 <figure>
                 <img src="Images/immunity.png" height="200px" width="200px">
                 <h3>Build strong immunity</h3>
                 </figure></div>
               </div>
               <div class="col-md-3 col-12 order-0">
                   <div class="box our-services">
                 <figure>
                 <img src="Images/home.jpg" height="200px" width="200px">
                 <h3>Stay at home, be safe</h3>
                 </figure></div>
               </div>
               <div class="col-md-3 col-12 order-0">
                   <div class="box our-services">
                 <figure>
                 <img src="Images/checkup.jpg" height="200px" width="200px">
                 <h3>Must go for checkup</h3>
                 </figure></div>
               </div>
             </div>
           </div>
           </div>
           </div>

      {{>footer}}
      </body>
      </html>
