

          <footer>
            <p>Thank you for visiting</p>
            <div class="social-links">
                <img class="p" src="Images/facebook.png">
                <img class="p" src="Images/instagram.png">
                <img class="p" src="Images/pinterest.png">
                <img class="p" src="Images/twitter.png">
                <p>Copyright Tanya Sharma</p>
            </div>

          </footer>
        

    